<!-- Copyright (c) Microsoft Corporation. All rights reserved.
     Licensed under the MIT License. -->


@model IEnumerable<Microsoft.WhiteSpaces.Common.BlockedChannels>

@if (Model.Count() > 0)
{    
    WebGrid channelsGrid = new WebGrid(rowsPerPage: 5);
    channelsGrid.Bind(Model, autoSortAndPage: false, rowCount: ViewBag.channelsRowCount);
    channelsGrid.Pager(WebGridPagerModes.All);

    @channelsGrid.GetHtml(htmlAttributes: new { id = "excludedChannels" },
     mode: WebGridPagerModes.All,
     firstText: "<< First",
     previousText: "< Prev",
     nextText: "Next >",
     lastText: "Last >>",
     columns: channelsGrid.Columns(
     channelsGrid.Column("", "Channel List", @<text> @item.ChannelList </text>,style:"width:100px"),
     channelsGrid.Column("", "Locations", @<text> @Html.Raw(@item.Locations)</text>),
     channelsGrid.Column("", "Region", @<text> @item.Region </text>),
     channelsGrid.Column("", "Delete", @<text>  <a data-pk="@item.RecordPartitionKey" data-rk="@item.RecordRowKey" data-regioncode="@item.RegionCode" class="del-channel icon delete" style="color:red">Delete</a> </text>)
                        ))
    if (Convert.ToInt16(ViewBag.IdsRowCount) > 5)
    {
        <label>Total Records: @ViewBag.channelsRowCount</label>
    }
}

else
{
    <label>No records found</label>
}


