<!-- Copyright (c) Microsoft Corporation. All rights reserved.
     Licensed under the MIT License. -->


@using System;
@using System.Text;
@model Microsoft.WhiteSpaces.Common.LicensedLpAuxRegistration

@section Left{
    <section>
        @Html.Partial("RegisterNavigation")
    </section>
}

@section Right{
    @Html.Partial("MapPartial")
    @using (Ajax.BeginForm("Register", "RegisterUnLicensedLpAux", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "registerDiv" }))
    {
        <div id="registerDiv" class="summary-pane accordion left">
            <div class="container">
                <h2>Register LP Aux (UnLicensed)</h2>
                <p>Unlicensed wireless microphones at venues and sites of large events with significant wireless microphone use at well-defined times and locations may be registered in the database.  To register an unlicensed wireless microphones, a 10-digit ULS file number is required.</p>
                <p>Once the ULS file number is entered, click on the right arrow key to pull the details of the registration.</p>
                <section>

                    <div class="row">
                        @Html.Label("ULS File Number")
                        <span class="error hide" id="errulsFileNumber">Required</span>
                        <div class="input mandatory">
                            @Html.TextBoxFor(model => model.UlsFileNumber, new { @id = "ulsFileNumber", @maxlength = 15 })
                            <span class="balloon">10-digit ULS File number provided by FCC </span>
                        </div>
                        <button type="button" value="Look Up" class="icon next" id="btnLookUp">Look Up</button>
                        <span class="error hide" id="errUlsnumber">Incorrect ULS File Number</span>
                    </div>
                    <div id="ulsDetails" class="hide">
                        <h5>Uls File Details</h5>

                        <div class="row">
                            @Html.LabelFor(x => x.Name)
                            <span id="Name"></span>
                        </div>

                        <div class="row hide">
                            <span id="Address1"></span>
                            <span id="Address2"></span>
                            <span id="City"></span>
                            <span id="Country"></span>
                        </div>

                        <div class="row">
                            @Html.Label("Address")
                            <span id="Address"></span>
                        </div>

                        <div class="row">
                            @Html.LabelFor(x => x.Email)
                            <span id="Email"></span>
                        </div>

                        <div class="row">
                            @Html.Label("GrantDate")
                            <span id="GrantDate"></span>
                        </div>

                        <div class="row">
                            @Html.Label("ExpireDate")
                            <span id="ExpireDate"></span>
                        </div>

                        <div class="row split">
                            @Html.Label("Operating Location")
                            <span id="lat"></span>  <span id="long"></span>
                        </div>

                        <div class="row hide">
                            @Html.TextBox("hgghh", new { @id = "MAddress" })
                        </div>
                        <h5>Channels</h5>
                        <div class="row hide" id="divChannels">
                            @Html.Label("Channels")
                            <span class="error hide" id="errChannels">Please select atleast one Channel</span>
                            <div class="channel-list channel-num">
                                <ul id="channelList">
                                    @for (int i = 2; i < 52; i++)
                                    {
                                        <li>
                                            @{var id = "chk" + i;
                                            var value = string.Empty;
                                            if (i < 10)
                                            {
                                                value = "0" + i;
                                            }
                                            else
                                            {
                                                value = i.ToString();
                                            }
                                            }
                                            <input type="checkbox" id="@id" class="hide" disabled="disabled" value="@i" />
                                            <label for="@id">@value</label>
                                        </li>
                                    }
                                </ul>
                                <span class="balloon">Channels used by the wireless microphones operated at the site</span>
                            </div>
                        </div>
                    </div>

                    <h5>Event</h5>

                    <div class="row split">
                        @Html.Label("Start Time")
                        <span class="error hide " id="errStartDate">Required</span>
                        <div class="input mandatory">
                                                        @Html.TextBoxFor(x => x.StartDate, new { @id = "StartDate", @maxlength = 10 })
                            <span class="balloon">Specific months, weeks, days of the week and times when the device(s) are used (on dates when microphones are not used the site will not be protected)</span>
                        </div>

                        <div class="input mandatory">
                            @Html.TextBoxFor(x => x.StartTime, new { @id = "StartTime", @maxlength = 5 })
                            <span class="balloon">Specific months, weeks, days of the week and times when the device(s) are used (on dates when microphones are not used the site will not be protected)</span>
                        </div>
                    </div>

                    <div class="row split">
                        @Html.Label("End Time")
                        <span class="error hide " id="errEndDate">Required</span>
                        <div class="input mandatory">
                                                        @Html.TextBoxFor(x => x.EndDate, new { @id = "EndDate", @maxlength = 10 })
                            <span class="balloon">Specific months, weeks, days of the week and times when the device(s) are used (on dates when microphones are not used the site will not be protected)</span>
                        </div>

                        <div class="input mandatory">
                            @Html.TextBoxFor(X => X.EndTime, new { @id = "EndTime", @maxlength = 5 })
                            <span class="balloon">Specific months, weeks, days of the week and times when the device(s) are used (on dates when microphones are not used the site will not be protected)</span>
                        </div>
                    </div>

                    <div>
                        <a id="lnkReoccurence">Recurrence</a>
                    </div>
                    <div>
                        <span class="error hide" id="errReoccurence"></span>
                    </div>
                    <div id="divReoccurence" class="hide">
                        <div class="row">
                            <input type="radio" name="recurrence" id="daily" checked="checked" />
                            <label class="inline" for="daily">Daily</label>
                            <input type="radio" name="recurrence" id="weekly" />
                            <label class="inline" for="weekly">Weekly</label>
                        </div>
                        <div class="row hide" id="divWeekDays">
                            <label>Choose Week Days</label>
                            <div class="channel-list week channel-num">
                                <ul id="lstDays">
                                    <li>
                                        <input type="checkbox" id="day01" class="hide" value="Sunday" />
                                        <label for="day01">Sunday</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="day02" class="hide" value="Monday" />
                                        <label for="day02">Monday</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="day03" class="hide" value="Tuesday" />
                                        <label for="day03">Tuesday</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="day04" class="hide" value="Wednesday" />
                                        <label for="day04">Wednesday</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="day05" class="hide" value="Thursday" />
                                        <label for="day05">Thursday</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="day06" class="hide" value="Friday" />
                                        <label for="day06">Friday</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="day07" class="hide" value="Saturday" />
                                        <label for="day07">Saturday</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <input type="radio" name="stopreocurrence" id="stopInstance" checked="checked" />
                            <label class="inline" for="stopInstance">Stop After Occurences</label>
                            @Html.TextBoxFor(x => x.ReoccurenceInstance, new { @id = "REndInstance" })

                            <input type="radio" name="stopreocurrence" id="StopDate" />
                            <label class="inline" for="StopDate">Stop Date</label>
                            @Html.TextBoxFor(x => x.ReoccurrenceEndDate, new { @id = "REndDate" })
                        </div>
                    </div>

                    <h5>Registrant Info</h5>

                    <div class="row">
                        @Html.Label("Venue")
                        <span class="error hide" id="errVenue">Required</span>
                        <div class="input mandatory">
                            @Html.TextBoxFor(x => x.VenueName, new { @id = "Venue", @maxlength = 50 })
                            <span class="balloon">The name of the venue</span>
                        </div>
                    </div>

                    <div class="row">
                        @Html.Label("Organization Name")
                        <span class="error hide" id="errOrgName">Required</span>
                        <div class="input mandatory">
                            @Html.TextBoxFor(x => x.OrgName, new { @id = "OrgName", @maxlength = 50 })
                            <span class="balloon"> Name of the business that owns the unlicensed wireless microphones</span>
                        </div>
                    </div>

                    <div class="row">
                        @Html.Label("Phone")
                        <span class="error hide" id="errPhone">Required</span>
                        <div class="input mandatory">
                            @Html.TextBoxFor(x => x.Phone, new { @id = "Phone", @maxlength = 10 })
                            <span class="balloon"> A phone number for the contact person</span>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        @ViewBag.Result
                    </div>
                    <div class="row">
                        <div class="contactcard-label">
                            <input type="checkbox" id="accept" class="contact-card-check" /><label for="accept">Agree to <a href="#" title="Privacy Plicy" role="link">Privacy</a> & <a href="#" role="link" title="Terms and Conditions">Terms and Conditions</a></label>
                        </div>
                        <div class="info">By clicking submit, I understand that all information required by the FCC to be in a TV white space database will be shared with other TVWS database administrators authorized by the FCC and will be available to the public. If the information I have provided is inaccurate or incomplete, I understand that the FCC has the right to reject my registration request or remove my information from the database.</div>

                        <button type="button" class="submit contactcard-submit" id="btnSubmit" disabled="disabled">Submit</button>
                        <div id="error" class="alert error"></div>
                        <div id="success" class="alert succeed"></div>
                    </div>
                </section>
            </div>
        </div>
        @Html.HiddenFor(x => x.ChannelListString, new { @id = "hdnChannelList" })
        @Html.HiddenFor(x => x.WeekDaysString, new { @id = "hdnWeekDays" })
        @Html.HiddenFor(x => x.IsRecurred, new { @id = "hdnIsReOccured" })
        @Html.HiddenFor(x => x.IsReoccurenceDaily, new { @id = "hdnIsReoccurenceDaily", @value = "true" })
    }
}
@section Preloader{
    <div id="preloader" class="preloader"></div>
}
@section scripts{
    <script type="text/javascript" src="/Scripts/RegisterUnLpAux.js"></script>
    <script type="text/javascript" src="/Scripts/Register.js"></script>
    <script type="text/javascript" src="/Scripts/Common.js"></script>
}
